@charset "UTF-8";
@font-face{
    font-family: 'Fonte-Sub';
    src: url("../fontes/bubblegum-sans-regular.otf");
}

article#info h4{
    width: 300px;
    background: none;
    font-family: 'fonte-sub';
    font-size: 30pt;
    color: #333636;
    text-align: left;
    margin: 20px 0px 20px 20px;
    margin-top: 50px;
}

article#info img{
    border-radius: 40px/50px;
    border: 5px solid #333636;
    border-bottom: 7px solid #f3c81e;
    
}

/* Formatação do frame */
article h1{
    font-family: 'fonte-sub';
    color: black;
    font-size: 20pt;
    font-weight: 600;
}

article h2{
    font-family: 'fonte-sub';
    color: #333636;
    font-size: 15pt;
    font-weight: 300;
    margin-top: -15px;
}

article img{
    border: 4px solid #333636;
    border-bottom: 5px solid #f3c81e;
    border-radius: 15px/30px;
}

div#espaco article{
    margin-bottom: 800px;
}

section#conteudo{
    display: block;
    width: 570px;
    float: left;
    margin: 0px;
}

aside#conteudo-frame{
    display: block;
    width: 375px;
    float: right;
    margin-right: -5px;
    margin-top: 75px;
}

iframe#frame-info{
width: 380px;
height: 600px;
border: none;
overflow: hidden;
margin-bottom: 50px;
}

iframe#frame-info::-webkit-scrollbar{display: none;}

/* espaco */
article#info h4.pula{margin-top: 120px;}
article#info div.pula{margin-bottom: 0px;}

div#subir{float: right;}
div#subir a{
    display:scroll; 
    position:fixed; 
    bottom:15px; 
    right:15px;
    transition: display 3s;
}