@charset "UTF-8";

audio#musica{
    background: url(../imagens/fundo-foto.jpg);
    padding: 5px;
    border-radius: 15px;
    border: 5px solid #f3c81e;
    margin-top: -5px;
    display: block;
    position: relative;
    width: 310px;
}

div#filme iframe{
    margin-top: -5px;
    background-color: #333636;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    border-bottom: 5px solid #f3c81e;
}

